body {
  font-family: "Manrope", sans-serif;
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
}

.card {
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: auto;
  padding: 40px;
  border-radius: 30px;
}

h1,
p {
  text-align: center;
}

.centro {
  display: flex;
  justify-content: center;
}

button {
  border: none;
  margin: auto;
  background-color: black;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
}
